

<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#"><b>S.GAYATHRI</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/" style="color:whitesmoke"><b>HOME</b></a>
          <a class="nav-link" href="/blog" style="color:whitesmoke"><b>BLOG</b></a>
         
        </div>
        
      </div>
    </div>
    <!--<div class="btn-group" role="group" aria-label="Basic example">-->
        <a href="/login"><button type="button"  style="color:red; background-color: aqua;  margin-right: 20px;" ><b>LOGIN</b></bLOGIN></button></a>

        <a href="/register"><button type="button"  style="color:red; background-color: aqua; margin-right: 20px;" ><b>REGISTER</b></button></a>
      <!--</div>-->
  </nav>
  {%block body %} {% endblock %}
      